.popup
{
    border: 3px solid #680000;
    padding: 10px;
    background: white;
    text-align:center;   
}

.popuppanel
{
    background: gray;
    opacity: .4;  
}

.red
{
    color: Red;
    font-weight:bold;    
}
