.PopUp
{
    border: 3px solid #680000;
    padding: 10px;
    background: white;
    text-align:center;   
}

.PopUpBackground
{
    background: gray;
    opacity: .4;  
}

.hidden 
{
    display:none;
}
